[Unit]
Description = Pipe log updates to Telegram
After = network.target

[Service]
Type = simple
ExecStart = /usr/bin/logram --config=/etc/logram.yaml
Restart = always
RestartSec = 30

[Install]
WantedBy = multi-user.target
